version: '3.8'

services:
  infoportal:
    image: "reb0ot1/infoportal:latest"
    restart: always
    build:
      context: .
    container_name: infportal
    env_file:
      - .env
    # environment:
    #   - ASPNETCORE_ENVIRONMENT=Development
    #   - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=InformationData;User Id=sa;Password=Pass@word;Integrated Security=False;MultipleActiveResultSets=true
    ports:
      - "${HTTP_PORT}:80"
      - "${HTTPS_PORT}:443"
    volumes:
      - ~/.aspnet/https:/https:ro
    networks:
      - dockernet
  
  mssql:
    image: "mcr.microsoft.com/mssql/server:2019-latest"
    container_name: sqlserver2019-latest
    env_file:
      - .env
    ports:
      - "3433:1433"
    volumes:
      - mssqldatanew:/var/opt/mssql
    networks:
      - dockernet
    # working_dir: /usr/src/app
    restart: always

volumes:
  mssqldatanew:
    external: true
networks:
  dockernet:
    external: true